<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.15.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.33" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="16.9.4" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="16.9.4" targetFramework="net472" />
  <package id="NUnit" version="3.13.2" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net472" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net472" />
  <package id="phantomjs.exe" version="1.9.2.1" targetFramework="net472" />
  <package id="ScrapySharp" version="2.6.2" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
</packages>